{#
/**
* @file
* Default theme implementation to display a foundation anchor.
*
* Params:
* - famb_id: The anchor id as plain text.
* - famb_title: The anchor title for the dynamic anchor menu.
*   The anchor is not printed out in the menu if empty.
*/
#}

{% set famb_attributes = create_attribute() %}
{%
  set classes = [
    'foundation-magellan-anchor'
  ]
%}
{% if famb_title %}
  {% set famb_attributes = famb_attributes.setAttribute('data-anchor-menu-title', famb_title) %}
{% endif %}

{% if famb_id %}
  {% set famb_attributes = famb_attributes.setAttribute('id', famb_id|clean_id) %}
  {% set famb_attributes = famb_attributes.setAttribute('data-magellan', 'true') %}
  {% set famb_attributes = famb_attributes.setAttribute('data-magellan-target', famb_id|clean_id) %}

  <div {{ famb_attributes.addClass(classes) }}></div>
{% else %}
  <div class="callout warning">{{'Warning: Foundation Anchor Menu Block target missing ID!'|t}}</div>
{% endif %}
